.EnterInvitePage {
  height: 100%;
  width: 100%;
  position: relative;
}

.EnterInvitePage section.Card {
  position: absolute;
  bottom: 0;
  left: 8px;
  opacity: .9;
}

.EnterInvitePage img {
  z-index: -1;
  width: 110%;
  margin-top: 20px;
  animation-delay: 2s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: logo-animation;
}

@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}