.EnterInvitePage {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.EnterInvietPage-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.EnterInvitePage img {
  z-index: -1;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  animation-delay: 0;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: logo-animation;
}

@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}