.EnterInvitePage {
  justify-content: center;
}

.EnterInvitePage form {
  width: 230px;
  margin-top: 50px;
}

.EnterInvitePage #submit {
  display: block;
  margin: 5px auto;
}

.EnterInvitePage #inp {
  width: 230px;
}