html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.Page-wrapper {
  height: 100%;
}

@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  60% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

