html, body {
  height: 100%;
  font-family: Roboto, 'Helvetica Neue', Arial, Helvetica, sans-serif
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

@keyframes logo-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

