:root {
  /* Window background */
  --window-bg-color: #fdf6e4;
  --window-bg-dark-color: #cac3b2;
  /* Cards and Dialogs */
  --dialog-bg-color: #fff;
  /* App and toolbars */
  --primary-color: #b71c1c;
  --primary-light-color: #f05545;
  /* Status bar */
  --primary-dark-color: #7f0000;
  --secondary-color: #1b5e20;
  --secondary-light-color: #4c8c4a;
  --secondary-dark-color: #003300;
  /* DARK TEXT ON LIGHT BACKGROUNDS */
  /* most important text */
  --primary-dark-text: rgba(0, 0, 0, .87);
  --secondary-dark-text: rgba(0, 0, 0, .54);
  /* labels and disabled text */
  --hint-dark-text: rgba(0, 0, 0, .38);
  --dividers-dark: rgba(0, 0, 0, .12);
  /* LIGHT TEXT ON DARK BACKGROUNDS */
  /* white text on colored backgrounds should use 100% opacity */
  --primary-light-text: rgba(255, 255, 255, 1);
  --secondary-light-text: rgba(255, 255, 255, .7);
  --hint-light-text: rgba(255, 255, 255, .5);
  --dividers-light: rgba(255, 255, 255, .12);
  --error-text: var(--primary-dark-color);
}

.error-text {
  color: var(--error-text);
}

body {
  background-color: var(--window-bg-color);
}

input, textarea, select {
  font-size: 16px;
  color: var(--primary-dark-text);
  border: 1px solid var(--dividers-dark);
  outline: none;
  border-radius: 2px;
  padding: .25em;
}

input:focus, input:active {
  border-color: transparent;
  border: 1px solid var(--secondary-dark-text);
}

input + p.helper {
  height: 14px;
  font-size: 12px;
  margin-top: 8px;
  margin-bottom: 0;
}

button {
  outline: none;
  height: 36px;
  font-size: 14px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 88px;
  color: var(--primary-light-text);
  background-color: var(--primary-color);
  border: none;
  border-radius: 2px;
}

button.invert {
  background-color: var(--primary-light-text);
  color: var(--secondary-color);
}

.title {
  font-size: 24px;
  color: var(--primary-dark-text);
}

.sub-title {
  font-size: 14px;
  color: var(--secondary-dark-text);
}