:root {
  /* Window background */
  --window-bg-color: #E1E2E1;
  /* Cards and Dialogs */
  --dialog-bg-color: #FFFFFF;
  /* App and toolbars */
  --primary-color: #f5f1e4;
  --primary-light-color: #ffffff;
  /* Status bar */
  --primary-dark-color: #c2beb2;
  --secondary-color: #c62828;
  --secondary-light-color: #ff5f52;
  --secondary-dark-color: #8e0000;
  /* DARK TEXT ON LIGHT BACKGROUNDS */
  /* most important text */
  --primary-dark-text: rgba(0, 0, 0, .87);
  --secondary-dark-text: rgba(0, 0, 0, .54);
  /* labels and disabled text */
  --hint-dark-text: rgba(0, 0, 0, .38);
  --dividers-dark: rgba(0, 0, 0, .12);
  /* LIGHT TEXT ON DARK BACKGROUNDS */
  /* white text on colored backgrounds should use 100% opacity */
  --primary-light-text: rgba(255, 255, 255, 1);
  --secondary-light-text: rgba(255, 255, 255, .7);
  --hint-light-text: rgba(255, 255, 255, .5);
  --dividers-light: rgba(255, 255, 255, .12);
  --error-text: var(--primary-dark-color);
}

.error-text {
  color: var(--error-text);
}

body {
  background-color: var(--window-bg-color);
}

input, textarea, select {
  font-size: 16px;
  border: 1px solid var(--primary-dark-color);
  outline: none;
  border-radius: 2px;
  padding: .25em;
}

input:focus, input:active {
  border-color: transparent;
  border: 1px solid var(--primary-color);
}

input + p.helper {
  font-size: 12px;
}

button {
  outline: none;
  height: 36px;
  font-size: 14px;
  margin-left: 8px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 88px;
  color: var(--primary-light-text);
  background-color: var(--secondary-color);
  border: none;
  border-radius: 2px;
}

button.invert {
  background-color: var(--primary-light-text);
  color: var(--secondary-color);
}

.title {
  font-size: 24px;
  color: var(--primary-dark-text);
}

.sub-title {
  font-size: 14px;
  color: var(--secondary-dark-text);
}