
.TopAppBar {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--primary-color);
}

.TopAppBar.header {
  grid-area: header;
}

.TopAppBar-title {
  position: absolute;
  left: 72px;
  font-size: 20px;
  font-weight: 500;
}
 